@-webkit-keyframes float {
  0% {
    -webkit-transform: translate(-50%, 0px);
  }
  50% {
    -webkit-transform: translate(-50%, -20px);
  }
  100% {
    -webkit-transform: translate(-50%, 0px);
  }
}
@keyframes float {
  0% {
    transform: translate(-50%, 0px);
  }
  50% {
    transform: translate(-50%, -50px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLEj6Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v5/L0x5DF4xlVMF-BfR8bXMIjhLq3o.ttf) format('truetype');
}
:root {
  --blue: #007bff;
  --red: #c4183c;
  --yellow: #ffb400;
  --green: #17c671;
  --white: #fff;
  --primary: #007bff;
  --secondary: #5A6169;
  --success: #17c671;
  --info: #00b8d8;
  --warning: #ffb400;
  --danger: #c4183c;
  --light: #e9ecef;
  --dark: #212529;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  font-weight: 300;
  color: #000000;
  background: #ffffff;
  margin: 0;
  line-height: 1.5;
  text-align: left;
}
a {
  color: #0067f4;
  text-decoration: none;
}
a:hover {
  color: #00b8d8;
  text-decoration: underline;
}
b {
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-family: "Poppins";
  font-weight: 400;
  color: #212529;
}
h1 {
  font-size: 3.052rem;
  letter-spacing: -0.0625rem;
  line-height: 3rem;
}
h2 {
  font-size: 2.441rem;
  letter-spacing: -0.0625rem;
  line-height: 2.25rem;
}
h3 {
  font-size: 1.953rem;
  line-height: 2.25rem;
}
h4 {
  font-size: 1.563rem;
  line-height: 2rem;
}
h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
p {
  margin-bottom: 1.75rem;
}
.bookr {
  position: absolute;
  left: 50%;
  -webkit-transform: -50%;
  transform: translate(-50%);
  top: 40px;
  z-index: 2;
  width: 280px;
  -webkit-animation: float 3s ease-in-out infinite;
  animation: float 3s ease-in-out infinite;
}
